*{
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}
.contenu{
    margin: 50px;
    border: solid 2px black;
    width: 1400px;
    height: 700px;
    padding: 10px;
    background-color: chartreuse;

}
header{
    text-align: center;
    background-color: green;
    padding: 5px;
    border: solid 2px brown;
    height: 70px;
}
#menu{
    padding: 10px;
    border: solid 2px black;
    margin: 5px;
    text-align: center;
    background:cadetblue;

}
.colonne{
    display: flex;
    margin: auto ;
}
.menu{
    background-color: cornflowerblue;
    border: solid 2px black;
    height: 500px;
    width: 200px;
    margin:auto;
    

}
.main{
    background-color: cadetblue;
    border: solid 2px black;
    height: 500px;
    width: 700px;
    margin: auto;


}

